* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: poppins;
}

a {
	text-decoration: none;
}

.navbar {
	height: 70px;
	display: flex;
	align-items: center;

	/* offset-x | offset-y | blur-radius | color */
	box-shadow: 0 2.98px 7.46px rgba(0, 0, 0, 0.1);
}

.navbar > img {
	padding-left: 30px;
}

.gallery {
  display: flex;
  flex-direction: column;
  margin: auto;
  margin-top: 30px;
  max-width: 400px;
  padding: 5px;

}

.gallery > .images {
	align-self: center;
	max-width: 100%;
}

.gallery > .gallery--header {
	margin-top: 15px;
}

.slides {
	margin-top: 15px;
	padding: 5px;
	display: flex;
	flex-wrap: nowrap;
	gap: 20px;
	overflow: auto;
}

.slide {
	position: relative;
	display: flex;
	flex-direction: column;
	max-width: 260px;
}

.slideImage {
	border-radius: 15px;
}

/* outer radius = inner radius + padding */

.badge {
	background-color: white;
	position: absolute;
	padding: 5px 5px;
	font-weight: bold;
	border-radius: 10px;
	top: 4px;
	left: 4px;
}

.card--stats {
	display: flex;
	align-items: center;
}

.card--star {
	height: 17px;
}