* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: poppins;
}

a {
	text-decoration: none;
}

.navbar {
	height: 70px;
	display: flex;
	align-items: center;

	/* offset-x | offset-y | blur-radius | color */
	box-shadow: 0 2.98px 7.46px rgba(0, 0, 0, 0.1);
}

.navbar > img {
	padding-left: 30px;
}

.gallery {
	width: 395.906px;
	height: 232px;
	flex-shrink: 0;

  margin-top: 96px;

  display: flex;
  justify-content: center;
  margin-left: auto;
  margin-right: auto;
}
