* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;

	font-family: poppins;
}

a {
	text-decoration: none;
}

.navbar {
	height: 70px;
	display: flex;
	align-items: center;

	/* offset-x | offset-y | blur-radius | color */
	box-shadow: 0 2.98px 7.46px rgba(0, 0, 0, 0.1);
}

.navbar > img {
	padding-left: 30px;
}

.gallery {
  display: flex;
  flex-direction: column;
  margin-top: 30px;

}

.gallery > .images {
	align-self: center;
	max-width: 400px;
}

.gallery > .gallery--header {
	margin-top: 15px;
}